.chart-editor {
  height: 500px;
  border-top: 2px solid white;
}

.ContactTemplate {
  border: 2px solid white;
}

.UnassignedContactTemplate {
  border: 2px solid darkslateblue;
}

.UnassignedContactTemplate > .ContactDescription,
.UnassignedContactTemplate > .ContactPhone,
.UnassignedContactTemplate > .ContactEmail,
.UnassignedContactTemplate > .ContactTitleBackground > .ContactTitle {
  color: darkslateblue;
}

.ContactTitleBackground {
  display: flex;
  justify-content: space-between;
}